
    <main id="details">
        <section id="details-info">
            <div class="game-image">
                <img src={{photo.image}}>
            </div>

            <div class="game-info">
                <div class="game-text">
                    <h1 id="name"> {{photo.name}} </h1>
                    <h3 id="platform">Platform: {{photo.platform}} </h3>
                    <p id="price"><span>Price: ${{photo.price}} </span></p>
                    <p id="genre"><span>Genre: {{photo.genre}} </span></p>
                    <p id="description"> {{photo.description}} </p>
                </div>
                <div class="product-btn">
                   {{#if isOwner}}
                    <div class="author">
                        <a href="/photo/{{photo._id}}/edit" class="btn-edit">Edit</a>
                        <a href="/photo/{{photo._id}}/delete" class="btn-delete">Delete</a>
                    </div>
                    {{/if}}
                    <!-- Logged in user who has not yet buy this game code-->
                    <!-- <a href="#" class="btn-buy">Buy</a> -->

                    <!-- Logged in user who has already buy this game code-->
                    <!-- <p class="buy-message">You have already bought this game</p> -->
                </div>
            </div>
        </section>
    </main>
